#mags-block{
    background: #fff;
    padding: 10px;
    margin: 1rem 1rem 1rem 0;
}

.mags-right{
    float: right;
}

#mags-header{
    text-align: justify;
}

.mags-inline{
    display: inline-block;
    vertical-align: center;
    text-align: left;
}

.mags-issue{
    margin: 25px;
}

h1.mags-edition{
    cursor: pointer;
}

.mags-issue:nth-child(even){
    background: #ccc;
    padding: 5px;
}

.mags-posts{
    display: none;
}

.mags-posts li{
    padding: 10px;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 1rem;
}

.mags-posts li:nth-child(even){
    background: #efefef;
}

.mags-posts h2{
    display: inline-block;
}

.flex-container{
    display: flex;
    justify-content: space-between;
}

form.mags-issue-form .flex-container > div{
    width: 40%;
}

.mags-posts li button{
    display: inline-block;
    margin: 15px;
    background: #FF7978;
    padding: 2px;
    width: 20px;
    font-size: 0.9rem;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px;
    border: none;
    color: #fff;
    transition: background, .4s, ease-in;
    float: right;
}

.mags-posts li button:hover{
    background: #E82B25;
    transition: background, .4s, ease-in;
    cursor: pointer;
    /* full click BG FF1A15 */
}

.mags-posts li button:active, .mags-posts li button:focus{
    background: #FF1A15;
}

button.mag-action{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px;
    font-size: 0.9rem; 
    border-radius: 2px;
    border: none;
    color: #fff;
    transition: background, .4s, ease-in;
}

button.mag-action:hover{
    transition: background, .4s, ease-in;
}

button.save-mag{
    background: #4E77C9;
    
    
}

button.save-mag:hover{
    background: #006AA3;
    
}

.message{
    font-size: .9rem;
    margin: 15px 0;
}

.message .success{
    color: #0B8F08;
}

.message .error{
    color: #D40B24;
}

magsan.isLoading{
    width: 30px;
    height: 30px;
}

.isloading-overlay{
    color: #efefef;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding:20px;
}

#new_issue{
    display: none;
}

.thumbnail img{
    width: 30%;
    height: auto;
}
